a {
  color: black;
  background-color: white;
}
a:hover {
  color: white;
  background-color: magenta;
}

.top {
  position: absolute;
  z-index: 999;
}

@property --time {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes time {
  0% {
    --time: 0deg;
  }
  100% {
    --time: 360deg;
  }
}
body {
  background: black;
  color: white;
}

#div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  --time: 0deg;
  animation: time linear 10s infinite;
  font-size: 32px;
  transition: font-size 0.3s;
  user-select: none;
  position: absolute;
}

#div > span:nth-child(12n+1) {
  transform: translateX(calc(cos(30deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(30deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+2) {
  transform: translateX(calc(cos(60deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(60deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+3) {
  transform: translateX(calc(cos(90deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(90deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+4) {
  transform: translateX(calc(cos(120deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(120deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+5) {
  transform: translateX(calc(cos(150deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(150deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+6) {
  transform: translateX(calc(cos(180deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(180deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+7) {
  transform: translateX(calc(cos(210deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(210deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+8) {
  transform: translateX(calc(cos(240deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(240deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+9) {
  transform: translateX(calc(cos(270deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(270deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+10) {
  transform: translateX(calc(cos(300deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(300deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+11) {
  transform: translateX(calc(cos(330deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(330deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

#div > span:nth-child(12n+12) {
  transform: translateX(calc(cos(360deg + var(--time)) * min(40vh, 40vw) + 50vw)) translateY(calc(sin(360deg + var(--time)) * min(40vh, 40vw) + 50vh));
}

/*# sourceMappingURL=2.css.map */
