@import 'common';

$len: 12;

@property --time {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes time {
  0% {
    --time: 0deg;
  }
  100% {
    --time: 360deg;
  }
}

body {
  background: black;
  color: white;
}

#div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  --time: 0deg;
  animation: time linear 5s infinite;
  font-size: 32px;
  transition: font-size 0.3s;
  user-select: none;
  position: absolute;
}

@for $i from 1 through $len {
  #div > span:nth-child(#{$len}n + #{$i}) {
    $a: calc($i / $len * 360deg);
    $r: min(40vh, 40vw);
    $x: calc(cos($a) * $r + 50vw);
    $y: calc(sin($a) * $r + 50vh);
    transform:
      translateX($x)
      translateY($y);
    $h: calc($a + var(--time));
    color: hsl($h 100% 50%);
  }
}
